---
import { Image } from "@astrojs/image/components";

interface Props {
  title: string;
  image: ImageMetadata;
  url: string;
}

const widths = [450, 800];
const sizes = "(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw";

const { title, image, url } = Astro.props;
---

<a class="group aspect-video hover:!text-default" href={url}>
  <figure class="overflow-hidden relative w-full h-full">
    <Image
      src={image}
      alt={`${title} image`}
      aspectRatio="16:9"
      class="object-cover absolute w-full h-full bg-cover transition-all duration-300 group-hover:opacity-20 group-hover:scale-110 group-focus:opacity-20 group-focus:scale-110"
    />
    <figcaption class="absolute inset-0">
      <div
        class="flex flex-col gap-2 justify-center items-center h-full opacity-0 transition-all duration-300 group-hover:opacity-100 group-focus:opacity-100"
      >
        <h3 class="text-xl font-extrabold text-center uppercase">
          {title}
        </h3>
        <p class="py-2 px-4 border border-current">{url}</p>
      </div>
    </figcaption>
  </figure>
</a>
